.item {
  border-radius: 20px;
  background: var(--gradient-day);
  backdrop-filter: blur(10px);
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
}

.left {
  display: flex;
  gap: 31px;
  align-items: center;
}

.image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.imageFallback {
  display: grid;
  place-items: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  color: var(--neutral-default-color);
  background: linear-gradient(
    145deg,
    var(--accent-pink-color),
    var(--accent-purple-color)
  );
  font-family: var(--font-family-accent);
  font-size: 32px;
  text-transform: uppercase;
}

.name {
  font-size: 20px;
  font-weight: 500;
  line-height: 130%;
  color: var(--neutral-secondary-color);
  max-inline-size: 347px;
  letter-spacing: 1%;
}

.right {
  display: flex;
  align-items: center;
  margin-right: 49px;
  gap: 35px;
}

.tags {
  max-width: 337px;
  max-height: 74px;
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  overflow-y: scroll;
}

.tags::-webkit-scrollbar {
  width: 4px;
}

.tags::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 4px;
}
