.container {
  max-width: 1240px;
  margin: 0 auto;
  position: relative;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.main {
  padding: 40px 0 56px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.backButton {
  position: static;
  align-self: flex-start;
  padding-bottom: 15px;
}

.title {
  text-transform: uppercase;
}
