.container {
  max-width: 1240px;
  margin: 0 auto;
  position: relative;
}

.state {
  margin: 0;
  border-radius: 20px;
  padding: 40px;
  background: var(--gradient-day);
  color: var(--neutral-secondary-color);
  font-size: 20px;
  line-height: 130%;
}

.button {
  max-width: 286px;
  align-self: center;
}

.title {
  text-transform: uppercase;
  margin-bottom: 14px;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.main {
  padding: 40px 0 56px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.backButton {
  position: static;
  align-self: flex-start;
  padding-bottom: 15px;
}
